:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --outfit: "Outfit", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--slate-300);
  font-size: 0.9375rem;
  font-weight: 400;
  font-family: var(--outfit);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

.card {
  max-width: min(
    90vw,
    320px
  ); /* Max width is 400px or 90% of viewport width, whichever is smaller */

  height: 499px;

  background-color: var(--white);
  padding: 1rem 1rem 2.5rem 1rem;
  border-radius: 1.25rem;
  text-align: center;
  box-shadow: 0.1875rem 0.1875rem 1.25rem 0 var(--slate-500);
  margin: 0 auto; /* Center card horizontally */
}

.card .main-content {
  color: var(--slate-500);
  margin: auto 16px;
}

.card .main-content h1 {
  color: var(--slate-900);
  font-size: 22px;
  margin: 15px 0;
  font-weight: 700;
}

.card .image {
  width: 288px;
  height: 288px;
}

.card .image img {
  border-radius: 10px;
}
